body {
border-top: solid 5px black;
}

a {
text-decoration: none;
}

/* unvisited link */
a:link,a:visited {
    color: black;
}

/* mouse over link */
a:hover,a:active {
    color: black;
    background-color: #fff4f4;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: -5px;
}

#menu {
color: black;
font-size: 16px;
font-weight: bold;
}
ul.menu {
list-style-type: none;
padding: 0px;
margin: 0px;
}
ul.menu li {
padding: 0px;
margin-top: 3px;
}

#header {
font-family: "Open Sans", sans-serif, Georgia;
font-weight: bold;
font-size: 1.5rem;
line-height: 1.7em;
text-indent: -3px;
}
#content {
font-family: Palatino;
font-size: 18px;
}

h1 { font-size: 22px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h2 { margin-bottom: 0px; }

#lr {
font-family: Georgia;
font-size: 11px;
line-height: 180%;
text-align: center;
}

pre {
line-height: 100%;
font-family: courier new;
font-size: 11px;
padding-left: 30px;
background-color: #eeeeee;
padding-top: 2%;
padding-bottom: 2%;
border-left: solid 7px #aaaaaa;
}


blockquote {
font-weight: italic;
font-size: 16px;
color: gray; 
margin-left: 60px;
margin-right: 40px;
}
.addthis_button_google_plusone {
margin: 0px;
padding: 0px;
}

