---
pageable: true
per_page: 10
layout: layout_book
tags:
tools:
  -
    name: Nylas N1 Mac e-mail reader
    link: https://invite.nylas.com/download/
  -
    name: MacOSX GUI to `scanimage`
    link: https://github.com/fredrikw/Snac
  -
    name: Launch Control
    link: http://www.soma-zone.com/LaunchControl/

---

# Software tools

<% current_page.data.tools.each do |item| %>
<a target="_blank" href="<%= item.link %>"><%= item.name %></a><br>
<% end %>

# Python

- scipy
- numpy
- http://www.fabfile.org/

# MacOSX

- https://gist.github.com/danguita/6242852
http://www.hammerspoon.org/
packer
https://github.com/audreyr/cookiecutter
https://kapeli.com/dash
http://lovelydocs.io/
http://electron.atom.io/
http://www.macworld.com/article/2863923/the-many-superpower…
http://www.macworld.com/article/2865527/the-many-superpower…
http://asmaloney.com/2013/07/howto/packaging-a-mac-os-x-app…
Photon for elecron

# Web

- http://www.crazyegg.com/paul-olyslager-60-days
- Framework 7
- Google Webmaster
- http://ionicframework.com/
http://cocoamine.net/
phantomjs
bourbon
browserstack
cucumber
Clicky (FOR LATER)
wrk

# Ruby
nokogiri
capybara
http://best-ruby.com/
http://rubykoans.com/ -- very
https://github.com/healthchecks/healthchecks

# iOS
https://fastlane.tools/

# Android
- monkeyrunner

# Immigration
http://data.jobsintech.io/

# Git
http://pre-commit.com/

# UNIX
jq
qmv
socat
gnu parallel

# Cloud stuff
https://www.cloudfoundry.org/

# Learning
https://devchat.tv/
udacity
udemy
codeschool
codeacademy
teamtreehouse
omscs gatech edu
codekata
