---
pageable: true
per_page: 10
layout: layout_book
tags:
tools:
  -
    name: Nylas N1 Mac e-mail reader
    link: https://invite.nylas.com/download/
  -
    name: MacOSX GUI to `scanimage`
    link: https://github.com/fredrikw/Snac
  -
    name: Launch Control
    link: http://www.soma-zone.com/LaunchControl/

---

# Software tools

<% current_page.data.tools.each do |item| %>
<a target="_blank" href="<%= item.link %>"><%= item.name %></a><br>
<% end %>

# Python

- scipy
- numpy
- http://www.fabfile.org/

# MacOSX

- https://gist.github.com/danguita/6242852
- http://www.hammerspoon.org/
- [Packer](https://www.packer.io/)
- https://github.com/audreyr/cookiecutter
- https://kapeli.com/dash
- http://lovelydocs.io/
- http://electron.atom.io/
- http://www.macworld.com/article/2863923/the-many-superpower…
- http://www.macworld.com/article/2865527/the-many-superpower…
- http://asmaloney.com/2013/07/howto/packaging-a-mac-os-x-app…
- Photon for elecron
- [NetNewsWire](http://netnewswireapp.com/)

# IDEs

[Visual Studio Code](https://code.visualstudio.com/)

# Web

- http://www.crazyegg.com/paul-olyslager-60-days
- Framework 7
- Google Webmaster
- http://ionicframework.com/
- http://cocoamine.net/
- phantomjs
- bourbon
- browserstack
- cucumber
- Clicky (FOR LATER)
- wrk

# Ruby

- [nokogiri](http://nokogiri.org)
- [capybara](https://github.com/jnicklas/capybara)
- [Best Ruby](http://best-ruby.com/)
- [Ruby Koans](http://rubykoans.com/)
- [https://github.com/healthchecks/healthchecks]
- [GodRB](http://godrb.com/)
- [Homebrew](http://brew.sh/)
- [http://lugolabs.com/booksonrails]
- [http://ryanbigg.com/blogography.html]

# iOS

- [FastLane](https://fastlane.tools/)

# Android

- [MonkeyRunner](https://developer.android.com/tools/help/monkeyrunner_concepts.html)

# Immigration

- [JobsInTech](http://data.jobsintech.io/)

# Git

- [pre-commit by Yelp](http://pre-commit.com/)

# UNIX

- [jq](https://stedolan.github.io/jq/)
- [renameutils](https://www.nongnu.org/renameutils/)
- [socat](http://www.dest-unreach.org/socat/)
- [GNU Parallel](https://www.gnu.org/s/parallel)
- [Dotfiles](https://dotfiles.github.io)

# Cloud stuff

- [Cloud Foundry](https://www.cloudfoundry.org/)

# Learning

- [DevChat](https://devchat.tv/)
- [Udacity](https://www.udacity.com)
- [Udemy](https://www.udemy.com)
- [CodeSchool](https://www.codeschool.com)
- [CodeAcademy](https://www.codecademy.com/)
- [Treehouse](https://teamtreehouse.com/)
- [OMSCS Georgia Institute of Technology](http://www.omscs.gatech.edu/)
- [CodeKata](http://codekata.com)

# Interesting stuff
- [Small C compiler](https://github.com/rui314/8cc)
