@import "bourbon";

$def-bg-color:			white;
$link-color:			brown !default;
$link-active-color:		$link-color;
$blockquote-border-color:	black;
$link-fg-color:			$link-color;
$link-bg-color:			$def-bg-color;
$link-fg-hover-color:		darkgray;
$link-bg-hover-color:		$def-bg-color;

$blockquote-shift:		30px;

$sel-bg-color:			$link-color !default;	// inverted colors
$sel-fg-color:			$def-bg-color;

$font-group:			"HelveticaNeue-CondensedBold", "PT Sans",
				"Futura", "HelveticaNeue", "Helvetica Neue",
				Helvetica, Arial, sans-serif;
$font-body:			"charter";

$font-links:			$font-group;
$font-headers:			$font-group;
$font-links-leftpanel:		$font-group;
$font-content:			$font-body;
$font-footer:			$font-body;
$font-blockquote:		$font-body;
$font-date-time:		$font-group;
$font-title:			$font-group;
$font-logo:			$font-group;
$font-body:			$font-group;
$font-update:			$font-group;
$font-links-indexpage:		$font-body;

@include selection {
	background-color: $sel-bg-color;
	color: $sel-fg-color;
}

body {
	@include selection(true);
	border-top: solid 3px $link-color;
}

** {
	border: dotted 1px gray;
}

.links a { font-family: $font-links; }
.leftpanel a { font-family: $font-links-leftpanel; }
.content a { font-weight: bold; }
a.abig { font-family: $font-links-indexpage; }

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: $font-headers;
}
.links a {
	margin-right: 4%;
}
.links a, .leftpanel a {
	font-size: 150%;
}
.links .ac {
	padding-bottom: 1%;
	border-bottom: solid 5px $link-active-color;
}

.content {
	font-family: $font-content;
	font-size: 140%;
}

.ads {
	/* 130x100px */
	width: 130px;
	height: 0px; /* 190px */
	height: 190px; /* 190px */
	border: solid 1px white;
}
.date, .title {
        font-family: $font-date-time;
	font-size: 65%;
	color: gray;
	font-weight: bold;
}
.title {
	font-family: $font-title;
	font-size: 200%;
	color: black;
}

/* Extra small and small*/
@media(min-width:10px) and (max-width:991px) {
	.title {
		font-size: 150%;
	}
}


.footer {
	text-align: center;
	font-family: $font-footer;
	font-style: italic;
}

.leftpanel a {
	font-size: 100%;
}
.links {
	font-size: 100%;
}


/* LOGO */
.logo a {
        font-family: $font-logo;
	color: black;
	font-size: 150%;
	font-style: normal;
	font-weight: bold;
	border: 0;
}
.logo a:hover {
	color: darkgray;
}

a {
  color: $link-fg-color;  background: $link-bg-color;
  -o-transition:color .1s ease-out, background 0.2s ease-in;
  -ms-transition:color .1s ease-out, background 0.2s ease-in;
  -moz-transition:color .1s ease-out, background 0.2s ease-in;
  -webkit-transition:color .1s ease-out, background 0.2s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 0.2s ease-in;
}
a:hover { color: $link-fg-hover-color; background: $link-bg-hover-color; }
.container {
  max-width: 1200px;
}
body {
  font-family: $font-body;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul {
  list-style: circle; }
ol {
  list-style: decimal; }
ol, ul {
  padding-left: 5%;
  margin-top: 0; }


.highlight {
font-size: 16px;
}

blockquote {
font-size: 100%;
font-family: $font-blockquote;
font-weight: bold;
padding-left: $blockquote-shift;
margin-left: -$blockquote-shift;
border-left: solid 3px $blockquote-border-color;
}
code {
font-size: 80%;
}
.update {
font-size: 100%;
background: lightyellow;
font-family: $font-update;
border: solid 1px orange;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 0px 15px #000000;
}
