@import "bourbon";

$link-color:			darkred !default;
$sel-bg-color:			$link-color !default;
$sel-fg-color:			white;
$link-active-color:		$link-color;
$blockquote-border-color:	black;
$link-fg-color:			#af0000;
$link-bg-color:			white;
$link-fg-hover-color:		darkgray;
$link-bg-hover-color:		white;

@include selection {
	background-color: $sel-bg-color;
	color: $sel-fg-color;
}

body {
	@include selection(true);
}

p {
	margin-top: 3%;
	margin-bottom: 3%;
}

** {
	border: dotted 1px gray;
}

.links a, .leftpanel a, .content a
{
	font-family: 'Hoefler Text', Baskerville, PTSerifCustom;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: "HelveticaNeue-CondensedBold", "PT Sans", "Futura", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.links a {
	margin-right: 4%;
}
.links a, .leftpanel a {
	font-size: 150%;
}
.links .ac {
	padding-bottom: 1%;
	border-bottom: solid 5px $link-active-color;
}
body {
	border-top: solid 3px black;
}

.content {
	font-family: "Baskerville";
	font-size: 160%;
}

.ads {
	/* 130x100px */
	width: 130px;
	height: 0px; /* 190px */
	height: 190px; /* 190px */
	border: solid 1px white;
}
.date, .title {
        font-family: "PT Sans", "Futura", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 65%;
	color: gray;
	font-weight: bold;
}
.title {
	font-family: "HelveticaNeue-CondensedBold", "PT Sans", "Futura", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 200%;
	color: black;
}

/* Extra small and small*/
@media(min-width:10px) and (max-width:991px) {
	.title {
		font-size: 150%;
	}
}


.footer {
	text-align: center;
	font-family: 'Hoefler Text', Baskerville, PTSerifCustom;
	font-style: italic;
}

.leftpanel a {
	font-size: 100%;
}
/*
.leftpanel a {
	font-size: 100%;
        font-family: "PT Sans", "Futura", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
}
*/
.links {
	font-size: 100%;
}


/* LOGO */
.logo a {
        font-family: "PT Sans", "Futura", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
	font-size: 150%;
	font-style: normal;
	font-weight: bold;
	border: 0;
}
.logo a:hover {
	color: darkgray;
}

a {
  color: $link-fg-color;  background: $link-bg-color;
  -o-transition:color .1s ease-out, background 0.2s ease-in;
  -ms-transition:color .1s ease-out, background 0.2s ease-in;
  -moz-transition:color .1s ease-out, background 0.2s ease-in;
  -webkit-transition:color .1s ease-out, background 0.2s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 0.2s ease-in;
}
a:hover { color: $link-fg-hover-color; background: $link-bg-hover-color; }
.container {
  max-width: 1200px;
}
body {
  font-family: "HelveticaNeue-CondensedBold", "PT Sans", "Futura", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul {
  list-style: circle; }
ol {
  list-style: decimal; }
ol, ul {
  padding-left: 5%;
  margin-top: 0; }


.highlight {
font-size: 16px;
}
blockquote {
font-size: 100%;
font-family: Futura;
font-weight: bold;
border-left: solid 3px $blockquote-border-color;
}
code {
font-size: 80%;
}
.update {
font-size: 100%;
background: lightyellow;
font-family: Futura;
border: solid 1px orange;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 0px 15px #000000;
}
