@import "bourbon";

$def-bg-color:			white;
$link-color:			#D30D1D !default;
$blockquote-border-color:	black;
$link-hover-color:		darkgray;

$blockquote-shift:		30px;

$sel-bg-color:			$link-color !default;	// inverted colors
$sel-fg-color:			$def-bg-color;

$font-group:			"concourse-t3", "HelveticaNeue-CondensedBold", "PT Sans", "Futura";
$font-body:			"equity-text-b", "georgia";

@include selection {
	background-color: $sel-bg-color;
	color: $sel-fg-color;
}

body {
	@include selection(true);
	background-color: $def-bg-color;
	border-top: solid 3px $link-color;
	padding-top: 1%;
}
body, article {
	color: #333;
}





.content a { font-weight: bold; }
a.abig { font-family: $font-group; font-size: 150%;}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  font-family: $font-group;
}
.links a {
	margin-right: 4%;
	font-family: $font-group;
}
.links a {
	font-size: 150%;
}
.links .ac {
	padding-bottom: 1%;
	border-bottom: solid 5px $link-color;
}
.rightpanel {
	font-family: $font-group;
}

.content {
	font-family: $font-body;
	font-size: 140%;
}

.ads {
	/* 130x100px */
	width: 130px;
	height: 0px; /* 190px */
	height: 190px; /* 190px */
	border: solid 1px white;
}
.date, .title {
        font-family: $font-group;
	font-size: 65%;
	color: gray;
}
.title {
	font-family: $font-group;
	font-size: 200%;
	color: black;
}

/* Extra small and small*/
@media(min-width:10px) and (max-width:991px) {
	.title {
		font-size: 150%;
	}
}


.footer {
	text-align: center;
	font-family: $font-body;
	font-style: italic;
}

/* LOGO */
.logo a {
        font-family: $font-group;
	color: black;
	font-size: 150%;
	font-style: normal;
	font-weight: bold;
	border: 0;
}
.logo a:hover {
	color: darkgray;
}

a {
  color: $link-color;
  -o-transition:color .1s ease-out, background 0.2s ease-in;
  -ms-transition:color .1s ease-out, background 0.2s ease-in;
  -moz-transition:color .1s ease-out, background 0.2s ease-in;
  -webkit-transition:color .1s ease-out, background 0.2s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 0.2s ease-in;
}
a:hover { color: $link-hover-color; }
.container {
  max-width: 1200px;
}
body {
  font-family: $font-body;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul {
  list-style: circle; }
ol {
  list-style: decimal; }
ol, ul {
  padding-left: 5%;
  margin-top: 0; }


.highlight {
font-size: 16px;
}

p {
padding-bottom: 3%;
}
table {
margin-bottom: 3%;
}

blockquote {
font-size: 100%;
font-family: $font-body;
font-weight: italic;
font-style: italic;

border-top: solid 1px #FFF0F0;
border-bottom: solid 1px #FFF0F0;
background-color: #f0f0e0;
margin: 0 0 0 0;
padding: 10px 10px 10px 10px;
border-left: solid 3px white;
}
blockquote p {
padding-top: 2%;
padding-bottom: 2%;
}


code {
font-size: 80%;
}
.update {
font-size: 100%;
background: lightyellow;
font-family: $font-group;
border: solid 1px orange;
}

td,th {
padding-left: 2%;
padding-right: 2%;
}

// http://stackoverflow.com/questions/355313/how-do-i-hide-an-element-when-printing-a-web-page
@media print
{
	.noprint, .noprint *
	{
		display: none !important;
	}
}
.social {
  font-size: 80%;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  margin: 10px 0px 30px 0px;
  padding: 10px 0px 10px 0px;
}
.tag {
  background-color: lightred;
}
