---
title: Blog
_layout: page
description: My regular articles about software, technology, design and business
pageable: true
per_page: 10
priority: 1.0
tags:
---


<% blog("wkoszek").articles.each do |article| %>
<% next if article.tags.include?("books") %>
<%= link_to article.data.title, article, :class => 'abig' %><br>
<span class="date"><%= article.date.strftime('%b %e, %Y') %></span><br>
<% if article.data.description? %>
<%= article.data.description %>
<% end %>
<br>
<br>
<% end %>
<span hidden id="active_page_name">blog</span>
