---
pageable: true
per_page: 10
layout: layout_book
tags:
---

# Papers

Some of my papers written over the years.


papers:
	-
		title: "Increasing system security by interdomain communication analysis and brute-force auditing"
		link: papers/wkoszek-kpmnue.pdf
		format: PDF
		size: 126.74kB
		date: 12-13 Jan, 2006
		desc: Right now I would advise you to visit http://people.freebsd.org/~pho/ Peter Holm website for his "stress testing" suite
		where: KPMNUE

	-
		title: "DRAFT: Requirements for a XymbiOS kernel to meet industry standards"
		link: papers/wkoszek-20080805.pdf
		format: PDF
		size: 204K
		date: 2008
		desc: CCT@LSU, Louisiana, 2008.

	-
		title: "Performing I/O operations with an FPGA card"
		link: papers/koszek-ski2009.pdf
		format: PDF
		size: 128KB
		where: Technical University of Czestochowa, 2009.

	-
		title: "FreeBSD driver for the Stanford NetFPGA card"
		links:
			-
				desc: DevSummit @ University of Cambridge
				link: papers/NetFPGA_DevSummit_20090917.pdf
				fmt: PDF
				size: 729KB
				date: 2009
			-
				desc: Ericsson Research Nomadic Lab
				link: papers/NetFPGA_Ericsson_2009_08_25.pdf
				fmt: PDF
				size: 392KB
				date: 2009
			-
				desc: HIIT
				link: papers/NetFPGA_HIIT_2009_08_27.pdf
				fmt: PDF
				size: 577KB
				date: 2009
	-
		title: "Soft Error Study of ARM SoC at 28 Nanometers"
		authors: Austin Lesea, Wojciech Koszek, Glenn Steiner, Gary Swift1, and Dagan White Xilinx, Inc.
		where: SELSE 2014 @ Stanford University
		links:
			- papers/zynq_protons_r7.pdf
			- Slides: (<a href="talks/selse_2014_17_slides.pdf">PDF</a>, 933KB), 2014
		format: PDF
		size: 456KB
		date: 2014
	-
		title: "Challenges in Assessing Single Event Upset Impact on Processor Systems"
		authors: Wojciech Koszek, Austin Lesea, Glenn Steiner, Dagan White, Pierre Maillard, Xilinx, Inc.
		where: SELSE 2015
		link: papers/xilinx_selse2015_rev8.pdf
		format: PDF
		size: 496KB
		date: 2015

	-
		title: "Serwer thttpd"
		desc: "(my very first paper)"
		link: http://www.pckurier.pl/archiwum/art0.asp?ID=5789
		format: HTML<a href="papers/wkoszek-thttpd.txt">local</a> copy)

	-
		title: "FreeBSD 5.0"
		link: papers/wkoszek-freebsd50.txt
		desc: local copy
+ <a href="http://www.lpmagazine.org">Linux+</a> Extra, nr 23, 2003

--------------------------------------------------

**FreeBSD 5.2**

+ Paper (<a href="papers/wkoszek-freebsd52.txt">local</a> copy),
+ <a href="http://www.lpmagazine.org">Linux+</a> Extra, nr 35, 2004

--------------------------------------------------

--------------------------------------------------

**Praktyczne aspekty wykorzystania nowoczesnej kryptografii**
+ talk (<a href="talks/wkoszek-ski2004-talk.pdf">PDF</a>, 2.86MB),
+ paper (<a href="talks/wkoszek-ski2004-paper.pdf">PDF</a>, 85.78kB),
+ <a href="http://ski.pcz.pl/">VI Studencka Konferencja Informatyczna</a>, 2004, Czestochowa, Poland

--------------------------------------------------

**TrustedBSD jako klucz do bezpieczenstwa systemu FreeBSD**

+ talk (<a href="talks/wkoszek-ski2005-talk.sxi">OpenOffice</a>, 36.02kB)
+ paper (<a href="talks/wkoszek-ski2005-paper.pdf">PDF</a>,  150.30kB),
+ <a href="http://ski.pcz.pl/">VII Studencka Konferencja Informatyczna</a>, 2005, Czestochowa, Poland

--------------------------------------------------

**Netgraph w systemie FreeBSD**

+ talk (<a href="talks/wkoszek-meetbsd2005-talk.sxi">OpenOffice</a>, 21.50kB)
+ <a href="http://www.meetbsd.org">MeetBSD</a>, 2005, Cracow, Poland

--------------------------------------------------
**Techniki wirtualizacji i separacji w nowoczesnych systemach rodziny UNIX**

+ talk (<a href="talks/wkoszek-confidence2005-talk.sxi">OpenOffice</a>, 12.46kB)
+ <a href="http://www.confidence.org.pl">Confidence</a>, 2005, Cracow, Poland

--------------------------------------------------
**Architektura i implementacja mechanizmów bezpieczeñstwa w nowoczesnych systemach
rodziny UNIX**

+ talk (<a href="talks/wkoszek-isaca2005-talk.pdf">PDF</a>, 46.04kB)
+ <a href="http://www.isaca.org.pl">ISACA</a> meeting, 2005, Cracow, Poland


--------------------------------------------------
**Podró¿ w g¿¿b systemu FreeBSD**

+ talk (<a href="talks/wkoszek-meetbsd2006-talk.pdf">PDF</a>, 103.62kB)
+ <a href="http://www.meetbsd.org">MeetBSD</a>, 2006, Warsaw, Poland


--------------------------------------------------
**FreeBSD: u¿ytkowanie, administracja, rozwój**

+ talk (<a href="talks/wkoszek-ism2007-talk.pdf">PDF</a>, 790.22kB)
+ IT World, 2007, Czestochowa, Poland


--------------------------------------------------
**Prezentacja problemów w przekazie wiedzy technicznej na przyk¿adzie
obcojêzycznej literatury naukowej**

+ Presentation (<a href="papers/wkoszek-matura2006.pdf">PDF</a>, 2.33MB), Matura, 2006


--------------------------------------------------
**Organizacja i struktura projektu FreeBSD**

+ Presentation (<a href="talks/wkoszek-ppsi2008.pdf">PDF</a>, 96kB), Politechnika Czêstochowska, 2008
+ Course named: "Podstawy projektowania systemów informatycznych"


</body>
</html>
