---
title: Reading
_layout: page
description: My reading list.
pageable: true
per_page: 10
priority: 0.9
tags:
---

# Reading

**I like to read**. Below you have books which I've read or listened. I don't
write a review and notes immediately. Typically
after the lecture, I take two or three week break. Then I jot down my
notes. Because of this approach, you can see which books are really valuable, and
which were a wrong time investment, since they will have scarce or no notes
whatsoever. Nothing stuck in my mind after reading whose.

<hr />

<% blog("wkoszek_books").articles.each do |article| %>
<% if article.tags.include?("books") %>
<%= link_to article.title, article %><br>
<span class="date"><%= article.date.strftime('%b %e, %Y') %></span><br>
<% if article.data.description? %>
<%= article.data.description %>
<% end %>
<br>
<br>
<% end %>
<% end %>

<span hidden id="active_page_name">reading</span>
