---
title: Software
description: Software which I've written or contributed to.
pageable: true
per_page: 10
priority: 1.0
tags:
software:
  -
    date: Feb 9, 2015
    name: MacB
    link: https://github.com/wkoszek/macb
    desc: "Mac Build: command line tool for Xcode project creation"
  -
    date: 2015
    name: UnSaver
    link: https://github.com/wkoszek/unsaver
    desc: "Xilinx's hackathon project written in CWEB, Literate Programming system"
  -
    date: 2014
    name: VoyVisu
    link: https://youtu.be/KfjpyAETd6s
    desc: Result of 1-day Hackathon at Xilinx
  -
    date: 2013
    name: USB_relay
    link: https://github.com/wkoszek/usb_relay
    desc: "USB driver for JS284 relay from J-Works"
  -
    date: Sept 9, 2009
    name: "NetFPGA driver for FreeBSD"
    link: https://github.com/wkoszek/freebsd_netfpga
    desc: "Driver which I've written during my HIIT/Ericsson internship"
  -
    date: June 21, 2009
    name: FLViz
    link: https://github.com/wkoszek/flviz
    desc: "Graphical Simulator of DFA state transitions"
  -
    date: June 16, 2009
    name: Koszek-Matyja Network Simulator
    link: https://github.com/wkoszek/kmnsim
    desc: "Config-file driver Ethernet simulator with hubs/switches"
  -
    date: Oct 1, 2008
    name: LibCLA
    link: https://github.com/wkoszek/libcla
    desc: "Library for hierarchical command argument handling (as in CLI interfaces of Cisco/KVM devices)"
---

# Software

My software projects written over the years.

<% current_page.data.software.each do |item| %>
<a target="_blank" href="<%= item.link %>"><%= item.name %></a><br>
<p><%= item.desc %></p><br>
<% end %>
